// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
table, th, td {
  border: 1px solid orange;
}
th, td {
  padding: 10px;
}


!* unvisited link *!
a:link {
  color: #27ff17;
}

!* visited link *!
a:visited {
  color: #182680;
}

!* mouse over link *!
a:hover {
  color: hotpink;
}

!* selected link *!
a:active {
  color: #33ffeb;
}*/
